@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #50ffe2;
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Meduim;
    src: url(fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000 !important;
    font-family: Raleway !important;
    margin-top: 1.5rem;
}


/* NAV START */
#nav .navbar .navbar-expand-lg .bg-body-tertiary .fixed-top {
    background-color: #000000 !important;
    /* position:fixed; */
    /* margin-bottom: 1rem; */
}

.navbar>.container {
    padding: 0rem;
    margin: 0rem 20px;
}

.nav-link {
    color: white;
}

.nav-item a .nav-link:hover {
    color: white;
}

.navbar-nav .btn {
    background-color: var(--primary-color);
    color: black;
    border: none;
    padding: 0.5rem 0.5rem;
    font-family: Raleway-Meduim;
}

.navbar-nav .btn:hover {
    color: var(--primary-color);
    background-color: #000000;
    border: 1px solid var(--primary-color);
}

/* NAV END */



/* CONTAINER START */
.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 20px 0rem 20px;
    padding: 5rem 0rem;
}

.half-1 img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
}

.half-1,
.half-2 {
    text-align: center;
}

.half-2 .name {
    color: var(--primary-color);
    margin: 0.5rem 0rem;
    font-size: 1.3rem;
}

.half-2 p .text {
    color: white;
}

.half-2 h1 {
    color: white;
    font-weight: 300;
    font-size: 3rem;
    margin: 0;
    line-height: 3.3rem;
}

.seagreen {
    color: var(--primary-color);
}

.dummy-text {
    color: white;
    font-size: 0.8rem;
    margin: 1rem 0rem;
}

.download {
    color: var(--primary-color);
    background-color: #000000;
    border: 1px solid var(--primary-color);
    padding: 0.7rem;
    font-family: Raleway-Meduim;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
}

.download:hover {
    background-color: var(--primary-color);
    color: #000000;
}

/* CONTAINER END */


/* ABOUT ME START */

.contain {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    text-align: center;
}

.part-1 img {
    width: 80%;
    margin-bottom: 2rem;
}

.part-2 {
    text-align: center;
}

.part-2 h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.part-2 .color {
    color: var(--primary-color);
}

.part-2 .hello {
    margin-bottom: 0.7rem;
    font-weight: bold;
}

.part-2 .sample-text {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

/* ABOUT ME START */



/* SERVICES START */
.services {
    background-color: #1c1b1b;
    padding: 1rem 0rem;
    text-align: center;
}

.services h2 {
    color: var(--primary-color);
}

.services p {
    color: white;
    margin-bottom: 2rem;
}

.segment-1,
.segment-2,
.segment-3 {
    border-radius: 5rem;
    margin: 0rem 2rem 2rem 2rem;
}

.icon-rep {
    background-color: white;
    padding: 1rem;
    color: #000000;
    border-radius: 10rem;
}

.para {
    background-color: white;
    padding: 2rem 1rem;
}


.para .title,
.para .text {
    color: #000000;
}

.para .title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.services .wrap-service {
    display: grid;
    /* grid-template-columns: 1fr; */
}

/* SERVICES END */


/* PROJECTS */
#projects {
    background-color: black;
    margin: 2rem 0rem;
    padding: 1.5rem;
}

#projects h2 {
    color: var(--primary-color);
    text-align: center;
}

#projects a {
    margin-bottom: 1rem;
}

.card-link {
    position: relative;
    overflow: hidden;
    background-color: white;
    display: block;
}

.card img {
    width: 100%;
}

.card-link .card-description {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: var(--primary-color);

}

.card-link:hover .card-description {
    opacity: 1;
}

.card-description h3 {
    font-size: 0.8rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.card-description p {
    color: black;
    font-size: 0.5rem;
    padding: 0rem 0.8rem;
    margin-bottom: 0rem;
}

/* PROJECTS */


/* CONTACT */
.contact {
    margin: 2rem 20px;
    background-color: #2b3036;
}

.contact h2 {
    color: var(--primary-color);
    text-align: center;
    padding-top: 1rem;
}

.contact p {
    color: white;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0.8rem;
}

input,
textarea,
button {
    padding: 5px;
    border: none;
    font-size: 0.6rem;
    margin-bottom: 1rem;
}

input,
textarea {
    background-color: #EDEDED;
}

.contact label{
    color: white;
}
button {
    color: #000000;
    background-color: var(--primary-color);
    padding: 1rem;
    font-family: Raleway-Meduim;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem !important;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
    border: 1px solid var(--primary-color);
    color: white;
}


/* CONTACT */


/* FOOTER */

footer {
    background-color: white;
    text-align: center;
    padding: 1rem;
}

.part-3 .icons {
    width: 2rem;
    margin-right: 0.7rem;
    margin-top: 1rem;
    cursor: pointer;
}

.part-3 .icons:hover {
    border: 4px solid grey;
    border-radius: 5rem;
}

/* FOOTER */

/* MEDIA QUERIES */
@media screen and (min-width:400px) {
    #projects {
        padding: 2rem;
    }

    #projects a {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:576px) {

    /* hero section */
    .container {
        margin: auto 40px;
    }

    .half-2 .name {
        font-size: 1.7rem;
    }

    .half-2 h1 {
        font-size: 3.5rem;
        margin: 1.5rem 0rem;
    }

    .dummy-text {
        font-size: 0.9rem;
        padding: 0rem 1.5rem;
        margin-bottom: 2rem;
    }

    /* hero section */



    /* about section */
    .contain {
        padding: 3rem;
    }

    .segment-1,
    .segment-2,
    .segment-3 {
        margin: 1rem 5rem;
    }

    /* about section */



    /* services section */


    /* services section */



    /* project section */

    .card-description h3 {
        font-size: 2rem;
        color: #000000;
        margin-bottom: 0.5rem;
    }
    
    .card-description p {
        color: black;
        font-size: 1.5rem;
        padding: 0rem 0.8rem;
        margin-bottom: 0rem;
    }

    /* project section */
}

@media screen and (min-width:768px) {
    .container {
        margin: auto 60px;
    }

    .half-1 img {
        width: 85%;
    }

    .half-2 .name {
        font-size: 2.1rem;
    }

    .half-2 h1 {
        font-size: 5rem;
        line-height: 5rem;
        margin: 1.5rem 0rem;
    }

    .dummy-text {
        font-size: 1.2rem;
        padding: 0rem 3.5rem;
        margin-bottom: 2rem;
    }

    .download {
        font-size: 1.2rem;
        margin: 1rem 0rem;
    }




    /* about section */
    .contain {
        padding: 4rem 1rem;
    }

    .part-1 img {
        width: 50%;
    }

    .part-2 .sample-text {
        margin: 0rem 10rem;
    }

    /* about section */



    /* services section */
    .cover {
        margin: auto 10px;
    }

    .cover h2 {
        font-size: 1.7rem;
    }

    .cover p {
        font-size: 1.2rem;
    }

    .segment-1,
    .segment-2,
    .segment-3 {
        margin: 1rem 7rem;
        padding: 1rem;
    }

    .para {
        padding: 3rem;
    }

    .segment-1 .para .title,
    .segment-2 .para .title,
    .segment-3 .para .title {
        font-size: 1.5rem;
    }

    .segment-1 .para .text,
    .segment-2 .para .text,
    .segment-3 .para .text {
        font-size: 1.4rem;
    }

    /* services section */



    /* projects section */
    #projects {
        padding: 3rem;
    }

    #projects a {
        margin-bottom: 3rem;
    }
    
    


    /* projects section */
}

@media screen and (min-width:992px) {
    .container {
        margin: auto 35px;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    nav header ul li {
        display: flex;
        margin-top: 0.5rem;
    }

    div.cut-3 {
        display: none;
    }

    ul .cut-2 {
        flex: 1;
    }

    .btn {
        display: block;
    }

    .half-1 img {
        width: 85%;
    }

    .half-2 {
        text-align: left;
    }

    .half-2 .name {
        font-size: 2.1rem;
    }

    .half-2 h1 {
        font-size: 5rem;
        line-height: 5rem;
        margin: 1.5rem 0rem;
    }

    .dummy-text {
        font-size: 1.2rem;
        padding: 0rem;
        margin-bottom: 2rem;
    }

    .download {
        font-size: 1.2rem;
        margin: 2rem 0rem;
    }



    /* about */

    .contain {
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .part-1 img {
        width: 50%;
    }

    .part-2 {
        text-align: left;
    }

    .clip .part-2 h3 {
        font-size: 2rem;
    }

    .clip .part-2 .hello {
        font-size: 1.5rem;
    }

    .clip .part-2 .sample-text {
        margin: 0rem;
        font-size: 1.1rem;
    }

    .clip .part-3 {
        text-align: left;
    }

    /* about */


    /* services */
    .cover {
        margin: auto 30px;
    }

    .cover .wrap-service {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .segment-1,
    .segment-2,
    .segment-3 {
        margin: 0rem;
        padding: 1rem;
    }

    .para {
        padding: 2rem 1rem;
    }

    /* services */

    /* projects section */
    #projects {
        padding: 3rem;
        height: 100vh;
    }

    #projects h3 {
        font-size: 1.3rem;
    }

    #projects p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .projects-link-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    #projects a {
        margin-bottom: 3rem;
    }

    /* projects section */
}

@media screen and (min-width:1280px) {
    .projects-link-wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* MEDIA QUERIES */